body {
  margin: 0;
  padding: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Map position*/
#map {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}

/*Legend Box*/
.map-overlay {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 5px;
  border-radius: 3px;
  width: 250px;
  opacity: 0.8;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 5px;
}

.map-overlay-inner fieldset {
  border: none;
  padding: 0;
  margin: 0 0 0 px;
}

/*Location Info style*/
#info {
  display: table;
  position: absolute;
  z-index: 4;
  top: 10px;
  left: 5px;
  margin: 0px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  text-align: left;
  color: #878787;
  background: #fff;
}

.button {
  background-color: rgb(222, 222, 222); 
  border : none;
  color: #000000;
  padding: px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 250px;
  opacity: 0.9;
  border-radius: 3px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 0px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  cursor: pointer;
}

.button:hover {background-color: rgb(222, 222, 222)}

.button:active {
  background-color: rgb(222, 222, 222);
  box-shadow: 0 2px rgba(0, 0, 0, 0, 0.2);
  transform: translateY(1px);
}


/*Layer control Style*/
#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 115px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Franklin Gothic Medium', sans-serif;
  opacity: 0.8;
}

#menu a {
  font-size: 13px;
  /*font-weight: bold;*/
  color: #8f8c8c;
  display: block;
  margin: 0;
  padding: 0;
  padding: 8px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: left;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #fff;
  color: #404040;
}

#menu a.active {
  background-color: #fff;
  color: #222;
}

#menu a.active:hover {
  background: #b8b8b8;
}

#Background {
  background: #fff;
  position: absolute;
  z-index: 7;
  bottom: 200px;
  right: 10px;
  border-radius: 5px;
  width: 105px;
  border: 1px solid rgba(134, 134, 134, 0.4);
  padding: 8px;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  opacity: 0.9;
  color: #222;
  display: block;
}

/*Measure Distance*/
/*    .distance-container {
        position: absolute;
        bottom: 70px;
        left: 10px;
        z-index: 3;
    }

    .distance-container > * {
        background-color: rgba(255, 255, 255, 0.5);
        color: #222;
        font-size: 11px;
        font-family: 'Franklin Gothic Medium', sans-serif;
        line-height: 18px;
        display: block;
        margin: 0;
        padding: 5px 10px;
        border-radius: 3px;
    }*/

/*Pop up*/
.mapboxgl-popup {
  font: 12px 'Franklin Gothic', sans-serif, 'Franklin Gothic Medium', sans-serif;
}

/*Measure Distance*/
.calculation-box {
  position: absolute;
  bottom: 20px;
  right: 50px;
  z-index: 3;
}
.calculation-box > * {
  background-color: rgba(255, 255, 255, 0);
  color: #222;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  line-height: 10px;
  display: block;
  margin: 0;
  padding: 5px 5px;
}

/*Toggle Sidebar*/
.rounded-rect {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 50px -25px black;
}

.flex-center {
  position: absolute;
  bottom: 40px;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 10px 10px;
  opacity: 0.9;
}

.flex-center.left {
  left: 0px;
}

.sidebar-content {
  position: absolute;
  width: 95%;
  height: 95%;
  font-family: 'Franklin Gothic', sans-serif;
  font-size: 12px;
  color: black;
}

.sidebar-toggle {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle.left {
  right: -1.5em;
}

.sidebar-toggle:hover {
  color: #0aa1cf;
  cursor: pointer;
}

.sidebar {
  transition: transform 1s;
  z-index: 1;
  width: 220px;
  min-height: 250px;
}

/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.left.collapsed {
  transform: translateX(-255px);
}

/* 
Style for Modal Image
*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(71, 71, 71);  Fallback color */
  background-color: rgba(255, 255, 255, 1); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 250px;
  color: #2e2e2e;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1000px) {
  .modal-content {
    width: 100%;
  }
}

.marker-container {
  display: none;
}
.marker-container.active {
  display: block;
}

.donut-popup {
  position: absolute;
  display: none;
  top: 300px;
  left: 10px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  border-radius: 3px;
  padding: 10px;
  width: 230px;
  z-index: 9999;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 12px;
}

